<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">



<div class="container-fluid">
<!--  navbar-->
  <div class="row">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #307289">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/casem4-a667f.appspot.com/o/logo1.png?alt=media&token=ba1eb57d-272d-420d-96bd-b98f4d2de40f"
              height="99"
              alt=""
              loading="lazy"
            />
            <span style="font-family: Pacifico,cursive; font-size: xx-large;color: deepskyblue">Music Bank</span>
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">My Library</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connecting People</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 200px">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>

        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </div>
<!--  carousel-->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="height: 1000px !important;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://previews.123rf.com/images/fyuriy/fyuriy1907/fyuriy190700067/128035704-rainbow-pulse-music-player-audio-colorful-wave-on-black-background.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.hdnicewallpapers.com/Walls/Big/Thoughts%20and%20Quotes/Beautiful_Quote_on_Music_Wallpaper.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.freshquotes.org/wp-content/uploads/2016/03/make-your-own-kind-of-music-quotes-wallpapers.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://quotefancy.com/media/wallpaper/3840x2160/23550-Friedrich-Nietzsche-Quote-Without-music-life-would-be-a-mistake.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjBxdW90ZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
